* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(46, 46, 46);
    background-image: url(topography.svg);
}
body, input, button {
    font-family: 'Open Sans', sans-serif;
}

input{
    font-size: 16px;
}
.inputChecked{
    color: cornsilk;
    font-family: 'Open Sans', sans-serif;
    margin:5px 0 0 20px;
    font-size: 20px;
}

.head_bar {
   
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(33, 34, 34);
    color: cornsilk;
    box-shadow: 8px 8px 8px black;
}

main {
    max-width: 800px;
    width: 80%;
    margin: 0 auto;
    padding: 16px;

}

.input_section {
   
    box-shadow: 8px 8px 8px black;
    background-color: rgb(33, 34, 34);
    display: flex;
    flex-direction: column;
    padding: 16px;
    border: 0 solid black;
    border-radius: 10px;
}

.input_section > h2 {
    text-align: center;
    color: cornsilk;
}

.input_section > form > .input {
    margin: 8px ;
    padding-bottom: 1%;
}


.input_section > form > button {
    background-color:  rgb(70, 71, 71);
    color: cornsilk;
    border-radius: 5px;
    display: block;
    width: 30%;
    padding:2%;
    cursor: pointer;
    margin: auto;
    font-size: 100%;
    transition: 1s;
}

.input_section > form > button:hover{
    width: 40%;
    font-size: 110%;
}


.input_section > form > .input > input {
    display: block;
    width: 100%;
    padding: 8px;
    border-radius: 5px;
}



.input_section > form > .input > label {
    color: cornsilk;
    font-weight: bold;
}

.input_section > form > .input_inline {
    margin: 12px 0;
    display: flex;
    align-items: center;
}

#result{
    display: flex;
    flex-direction: row;
    padding-bottom: 3%;
    padding-top: 1%;
}

.book_shelf {
   margin: auto;
    
    border: 0 solid black;
    width: 45%;
    box-shadow: 8px 8px 8px black;
    border-radius: 10px;
    background-color: rgb(33, 34, 34);
    padding: 1% 0 2% 0;
    transition: 0.5s;
    
}

.book_shelf:hover{
    transform: scale(1.05);
}

.book_shelf > h2 {
    color: cornsilk;
    text-align: center;
    border-bottom: 3px solid cornsilk;
    padding-bottom: 2%;
    
    
}

.book_shelf > .book_list {
    padding: 16px;
}

.item {
    color: cornsilk;
    padding-top:2% ;
    padding-bottom: 3%;
    border-bottom: 3px solid cornsilk;
    text-align: center;
   
  
}
.item> .inner{
    margin: auto;
    padding-bottom: 3%;
}
.inner>h2{
    text-decoration: underline;
    padding-bottom: 3%;
}
.selesai-dibaca,.blm-selesai-dibaca {
    border: 1px solid black;
    border-radius: 10px;
    padding: 1.5%;
    background-color: rgb(70, 71, 71);
    color: cornsilk;
    box-shadow: 3px 3px 4px black;
    transition: 1s;
    cursor: pointer;
}




.hapus-button {
    border: 1px solid black;
    border-radius: 10px;
    padding: 1.5%;
    background-color: rgb(70, 71, 71);
    color: cornsilk;
    box-shadow: 3px 3px 4px black;
    margin-left: 3%;
    transition: 1s;
    cursor: pointer;
}
.selesai-dibaca:hover, .blm-selesai-dibaca:hover{
   color:cornsilk;
    background-color: green;
    cursor: pointer;
}

.hapus-button:hover{
    color:cornsilk;
    background-color: red;
    cursor: pointer;
}




