*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #e8f0fe;
    background-image: url(undraw_Books_l33t.svg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: bottom;
}
.head_bar{
    text-align: center;
    border: 1px solid whitesmoke;
    padding: 2% 0;
}

.input_section{
    margin: auto;
    margin-top: 2.5%;
    margin-bottom: 8%;
    width: 98%;
    padding: 3%;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    background-color: rgba(173, 216, 230,0.9);
    font-size: 110%;
}
.input_section h2{
    text-align: center;
    margin-bottom: 2.5%;
    font-size: 125%;
}

label{
    font-size: 120%;
}

#inputBookTitle, #inputBookAuthor, #inputBookYear{
    width: 100%;
    padding: 2% 5%;
    border-radius: 10px;
    border: 2px solid white;
    font-size: 100%;
    margin-bottom: 3%;
    background-color: #e8f0fe;
   
}
#inputBookTitle:focus, #inputBookAuthor:focus, #inputBookYear:focus{
    outline: none;
    border: 2px solid gray;
}

#bookSubmit{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3.5%;
    padding: 4%;
    width: 70%;
    font-size: 70%;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    background-color: #e8f0fe;
}

#result{
    display: flex;
    flex-direction: column;
}
.book_shelf h2{
    font-size: 140%;
    text-align: center;
    padding-bottom: 2%;
}

.book_list{
   overflow:scroll;
    overflow-x: hidden;
    border: 4px solid lightblue;
    width: 90%;
    height: 300px;
    margin: auto;
    margin-bottom: 8%;
    padding: 5%;
    border-radius: 10px;
    background-color: rgba(232, 240, 254,0.9);
}

.item {
    border: 2px solid #e8f0fe;
    border-radius: 10px;
    padding: 5%;
    margin-bottom: 5%;
    background-color: lightblue;
    text-align: center;
}

.inner p:nth-child(1){
    font-size: 130%;
    font-weight: bold;
}

.inner p:nth-child(2), .inner p:nth-child(3){
    font-size: 100%;
}

.item button{
    padding: 2%;
    margin: 10% 0 2% 0;
    color:#e8f0fe ;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}
.item .selesai-dibaca{
    background-color: lime;
}
.item .blm-selesai-dibaca{
    background-color: orange;
    
}
.item .hapus-button{
    background-color: red;
    margin-left: 5%;
}


@media(min-width:1000px){
    .head_bar{
       padding: 1% 0;
    }

    .input_section{
       margin-top: 1.5%;
        padding: 1%;
        width: 50%;
    }
    .input_section h2{
        text-align: center;
        margin-bottom: 2%;
        font-size: 180%;
    }
    label{
        font-size: 130%;
    }
    #inputBookTitle, #inputBookAuthor, #inputBookYear{
        width: 100%;
        padding: 1% 2%;
        margin-bottom: 2%;
        border-radius: 10px;
      
    }
    #bookSubmit{
        margin-top: 3%;
        padding: 2%;
        width: 50%;
        font-size: 100%;
    }
    #result{
        display: flex;
        flex-direction: row;
       
        margin-top:-5% ;
    }
    .book_shelf {
        flex-basis:50%;
    }
    .book_shelf h2{
        font-size: 170%;
       padding-bottom: 1%;
    }
    .book_list{
        width: 90%;
        height: 400px;
        margin-bottom: 5%;
        padding: 2%;
    }

    .item {
       padding: 3% 5%;
       margin-bottom: 2.5%;
        
    }

    .inner p:nth-child(1){
        font-size: 150%;
    }

    .inner p:nth-child(2), .inner p:nth-child(3){
        font-size: 120%;
        
    }

    .item button{
       margin: 4% 0 2% 0;
       border-radius: 10px;
    }

}


